/* header 시작------------------------------------------- */
header {
    width:100%;
    height:105px;
    position: fixed;
    z-index: 900;
}

header > h1 > a {
    border:1px solid skyblue;
    position:absolute;
    width:187px;
    height:63px;
    margin-top:20px;
    margin-left:45px;
    background: url('../img/motiva_logo.png') no-repeat center;
    }

header > nav > ul {
    border:1px solid springgreen;
    position: absolute;
    top:25px;
    right:0;
    padding-right:50px;

    }

header:before {
    position: absolute;
    top: 104px;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(255,255,255,0.3);
    content: '';
}

nav > ul > li {
    float:left;
    }

nav > ul > li + li {
    margin-left:35px;
}

nav > ul > li > a {
    border:1px solid sandybrown;
    color: white !important;
    font-size: 14px;
    font-weight: 1000;
    line-height: 47px;
    }

nav > ul > li > a > span {}


/* header 끝------------------------------------------- */



/* main 시작------------------------------------------- */
main {
    border:1px solid darkmagenta;
    height:1143px; 
}

main > .main_visual {
    position:relative; 
    height:1143px; 
    /* background:top center; 
    background-size:cover; */
}

main > .main_visual > p {
    border:1px solid tomato;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%; 
    background-position: top center;
    background-size: auto;
    z-index:1
    }

.main_list > ul > li {
    border:1px solid salmon;
    float: left;
    overflow: hidden;
    width:353px;
    height: 444px;
    margin-top:100px;
    }

.main_list > ul > li + li {
    margin-left:50px;
    }

.main_list > ul:last-child {
    content: '';display: block;overflow: hidden;
}

.main_list > ul > li > a > h2 {

}

/* main 끝------------------------------------------- */






@media all and (min-width: 700px){	
	.main_visual > p {background-image:url('../img/main_visual.jpg');}
}

@media (max-width:991.99px){}

@media all and (max-width: 699.99px){
	.main_visual > p {background-image:url('../img/main_visual_s.jpg');}
    .main_visual {height:auto !important; padding-bottom:103%;}
}